@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-family: theme("fontFamily.sans");
  background-color: theme("colors.bg.DEFAULT");
  color: theme("colors.fg.DEFAULT");
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .touch-target {
    min-width: 44px;
    min-height: 44px;
  }
}
